@import '../../css/mixins';
@import '../../css/variables';

.search-filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loading,
.error {
  height: 10vh;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: $primary-color;
}
