@import '../../css/variables';
@import '../../css/mixins';

.userCard {
  border-radius: 12px;
  min-height: 240px;
  width: 600px;
  text-align: center;
  overflow: hidden;
  display: flex;
  text-align: center;

  &:hover {
    box-shadow: 1px 1px 25px $primary-color;
    transform: scale(1.1);
    transition: all 500ms;
  }

  .userCardImage {
    min-width: 50%;
    min-height: 80%;
    border-radius: 2px;
  }

  .userCardTextContainer {
    width: calc(100% - 220px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 50px;
    background: rgb(60, 62, 68);

    .userCardUsername {
      margin: 0;
      padding-top: 2px;
      color: $primary-color;
      padding-bottom: 10px;
      padding-top: 15px;
      font-size: 1.4rem;
      text-align: center;

      &:hover {
        color: $primary-color;
      }
    }

    .userCardUsernameCompact {
      margin: 0;
      padding-top: 2px;
      color: $primary-color;
      padding-bottom: 10px;
      padding-top: 15px;
      font-size: 1.2rem;
      text-align: center;

      &:hover {
        color: $primary-color;
      }
    }
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    text-align: center;

    .userCardText {
      color: $secondary-color;
      font-weight: bold;
      font-size: 1.1rem;
    }

    .userCardTextValue {
      color: white;
      font-size: 1rem;
      padding-bottom: 10px;
    }
  }
}

@media (max-width: 375px) {
  .userCard {
    min-height: 250px;
    width: 90%;

    .userCardTextContainer {
      width: 100%;

      .userCardUsername {
        font-size: 1.3rem;
      }

      .userCardUsernameCompact {
        font-size: 1.3rem;
      }
    }

    .infoContainer {
      .userCardText {
        font-size: 1rem;
      }

      .userCardTextValue {
        font-size: 0.9rem;
      }
    }
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .userCard {
    min-height: 250px;
    width: 90%;

    .userCardTextContainer {
      width: 100%;

      .userCardUsername {
        font-size: 1.3rem;
      }

      .userCardUsernameCompact {
        font-size: 1.2rem;
      }
    }

    .infoContainer {
      .userCardText {
        font-size: 1.1rem;
      }

      .userCardTextValue {
        font-size: 1rem;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .userCard {
    width: 90%;
    .userCardImage {
      min-width: 50%;
    }

    .userCardTextContainer {
      .userCardUsername {
        font-size: 1.5rem;
      }

      .userCardUsernameCompact {
        font-size: 1.4rem;
      }
    }

    .infoContainer {
      .userCardText {
        font-size: 1.3rem;
      }

      .userCardTextValue {
        font-size: 1.2rem;
      }
    }
  }
}
