@import '../../css/variables';
@import '../../css/mixins';

.filter-container {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  .span-filter {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 3px;
    font-weight: bold;
    color: $primary-color;

    &:last-of-type {
      margin-top: 8px;
      margin-bottom: 3px;
    }
  }

  .filter-button-container {
    margin-top: 8px;
    margin-bottom: 10px;

    .filter-button {
      @include defaultButton;
      min-width: 60px;
      padding: 8px;
      margin-right: 4px;
      font-size: 1.1rem;

      &:hover {
        box-shadow: 1px 1px 25px $secondary-color;
      }
    }

    .selected {
      color: $secondary-color;
      background-color: $primary-color;
    }
  }
}

@media (max-width: 375px) {
  .filter-container {
    .span-filter {
      font-size: 1.1rem;
    }

    .filter-button-container {
      .filter-button {
        font-size: 1rem;
      }
    }
  }
}
