.searchboxContainer {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .labelSearch {
    font-size: 1.3rem;
    color: $primary-color;
    margin-right: 10px;
  }
  .searchInput {
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-family: "Urbanist", sans-serif;
    font-size: 1rem;
    width: 300px;
    outline: none;

    &:focus {
      outline: none;
      border: 1px solod $secondary-color;
      box-shadow: 1px 1px 20px $secondary-color;
    }
  }
}
